[core]
	excludesfile = /Users/sergeikomarov/.gitignore_global
	autocrlf = input
	safecrlf = warn
	quotepath = off
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Sergei Komarov
	email = komarovsmail33@gmail.com
[http]
	cookiefile = /Users/sergeikomarov/.gitcookies
[alias]
	ch = checkout
	co = commit
	st = status
	br = branch
	pu = push
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p